.badge { padding: 6px 10px; margin-left: 6px; display: inline-block; border-radius: 10px; background-color: rgb(240, 240, 240); color: rgb(255, 255, 255); line-height: 1em; }
.badge_light-blue { background-color: rgb(103, 198, 246); }
.badge_light-blue > a { color: rgb(254, 254, 254); }
.badge:empty { display: none; }
.cart-mini { position: absolute; right: 0px; top: 100%; z-index: 200; padding: 0px 25px; display: none; min-width: 300px; max-width: 300px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); font-size: 14px; font-weight: 400; text-align: left; }
.header__item { display: block; float: left; }
.header-cart { margin-top: 5px; float: right; }
.header-cart__icon { margin-top: 4px; float: left; width: 50px; height: 40px; display: block; background: rgba(0, 0, 0, 0) url("icon-cart.png") no-repeat scroll 0% 0%; }
.header-cart__icon > .badge { margin-top: -5px; float: right; }
.header-cart__text-wrap { margin-top: 10px; margin-left: 10px; float: right; text-align: right; }
.header-cart__label { position: relative; font-size: 18px; font-weight: 700; color: rgb(254, 254, 254); }
.header-cart__label > a { color: rgb(254, 254, 254); }
.header-cart__cart-toggle { vertical-align: middle; margin-bottom: 5px; display: inline-block; width: 21px; height: 20px; border: 1px solid rgb(254, 254, 254); background: rgba(0, 0, 0, 0) url("icon-arrow_down.png") no-repeat scroll center center; }
.alert { border-width: 1px; border-style: solid; border-radius: 5px; padding: 20px; }
@keyframes tinUpOut {
0%, 20%, 40%, 50% { opacity: 1; transform: scale(1, 1) translateY(0px); }
10%, 30% { opacity: 1; transform: scale(1.1, 1.1) translateY(0px); }
100% { opacity: 0; transform: scale(1, 1) translateY(-900%); }
}
@media (max-width: 1080px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 640px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}
#popup__toggle { bottom: 25px; right: 10px; position: fixed; z-index: 999; }
.img-circle { background-color: rgb(116, 255, 85); box-sizing: content-box; }
.circlephone { box-sizing: content-box; border: 2px solid rgb(116, 255, 85); width: 150px; height: 150px; bottom: -25px; right: 10px; position: absolute; border-radius: 100%; opacity: 0.5; animation: 2.4s ease-in-out 0s normal none infinite running circle-anim !important; transition: all 0.5s ease 0s; }
.circle-fill { box-sizing: content-box; background-color: rgb(116, 255, 85); width: 100px; height: 100px; bottom: 0px; right: 35px; position: absolute; border-radius: 100%; border: 2px solid transparent; animation: 2.3s ease-in-out 0s normal none infinite running circle-fill-anim; transition: all 0.5s ease 0s; }
.img-circle { box-sizing: content-box; width: 72px; height: 72px; bottom: 14px; right: 49px; position: absolute; border-radius: 100%; border: 2px solid transparent; opacity: 0.7; }
.img-circleblock { box-sizing: content-box; width: 72px; height: 72px; background-image: url("mini.png"); background-position: center center; background-repeat: no-repeat; animation-name: tossing; animation-duration: 1.5s; animation-iteration-count: infinite; }
.img-circle:hover { opacity: 1; }
@keyframes pulse {
0% { transform: scale(0.9); opacity: 1; }
50% { transform: scale(1); opacity: 1; }
100% { transform: scale(0.9); opacity: 1; }
}
@keyframes pulse {
0% { transform: scale(0.95); opacity: 1; }
50% { transform: scale(1); opacity: 1; }
100% { transform: scale(0.95); opacity: 1; }
}
@keyframes tossing {
0% { transform: rotate(-8deg); }
50% { transform: rotate(8deg); }
100% { transform: rotate(-8deg); }
}
@keyframes tossing {
0% { transform: rotate(-8deg); }
50% { transform: rotate(8deg); }
100% { transform: rotate(-8deg); }
}
@keyframes circle-anim {
0% { transform: rotate(0deg) scale(0.5) skew(1deg); opacity: 0.1; }
30% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.5; }
100% { transform: rotate(0deg) scale(1) skew(1deg); opacity: 0.6; }
}
@keyframes circle-anim {
0% { transform: rotate(0deg) scale(0.5) skew(1deg); }
30% { transform: rotate(0deg) scale(0.7) skew(1deg); }
100% { transform: rotate(0deg) scale(1) skew(1deg); }
}
@keyframes circle-anim {
0% { transform: rotate(0deg) scale(0.5) skew(1deg); opacity: 0.1; }
30% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.5; }
100% { transform: rotate(0deg) scale(1) skew(1deg); opacity: 0.1; }
}
@keyframes circle-fill-anim {
0% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.2; }
50% { opacity: 0.2; }
100% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.2; }
}
@keyframes circle-fill-anim {
0% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.2; }
50% { transform: rotate(0deg) scale(1) skew(1deg); opacity: 0.2; }
100% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.2; }
}
@keyframes circle-fill-anim {
0% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.2; }
50% { transform: rotate(0deg) scale(1) skew(1deg); opacity: 0.2; }
100% { transform: rotate(0deg) scale(0.7) skew(1deg); opacity: 0.2; }
}
