@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDTbtPY_Q.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDYbtPY_Q.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDZbtPY_Q.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDXbtM.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKd3vXDTbtPY_Q.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKd3vXDYbtPY_Q.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKd3vXDZbtPY_Q.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKd3vXDXbtM.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKebunDTbtPY_Q.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKebunDYbtPY_Q.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKebunDZbtPY_Q.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKebunDXbtM.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiunDTbtPY_Q.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiunDYbtPY_Q.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiunDZbtPY_Q.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKeiunDXbtM.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.coolform-4 {
    font-family: Tahoma,Verdana;
    text-align: center;
    border: 4px solid #549fd6;
    padding: 10px;
    font-weight: 400;
    margin: 10px 0;
}
.coolform-4 h2 {
    font-size: 45px;
    padding: 0;
    color: #cc073c;
    text-transform: none;
    border: none;
}
.coolform-4 h2, .coolform-4 p.date-sale {
    margin: 0;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
}
.coolform-4 p.date-sale {
    font-size: 24px;
    border-bottom: 4px solid #549fd6;
    padding-bottom: 10px;
}
.coolform-4 p.date-sale-bottom {
    font-size: 11px;
    text-align: center;
}
.coolform-4 .myContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.myContent {
    display: block;
    width: 97%;
    background: #fff;
    padding: 25px 1.5%;
    position: relative;
}
.coolform-4 .sponsor-img {
    display: block;
    min-width: 100%;
    height: 130px;
    background-size: contain;
}
.coolform-4 .form-wrap {
    width: 52%;
    position: relative;
    border-radius: 8px;
}
.coolform-4 p.action-valid {
    background-color: #013766;
    color: #fff;
    line-height: 29px;
    text-align: center;
    font-size: 28px;
    border-radius: 8px 8px 0 0;
    margin: 0 0 20px;
    padding: 10px 5px;
}
.coolform-4 .price-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.coolform-4 .price-content {
    font-size: 30px;
    text-transform: uppercase;
    line-height: .6;
}
.coolform-4 .price-content, .coolform-4 .price-numb {
    margin: 0!important;
    padding: 0;
    display: inline-block;
}
.coolform-4 .price-numb {
    font-size: 32px;
    font-weight: 700;
    color: #cc073c;
}
.coolform-4 .price-content>span {
    font-size: 18px;
    text-transform: none;
}
.coolform-4 p.lp-text {
    font-size: 15px;
    text-align: center;
}
.coolform-4 span.left-pack {
    font-size: 25px;
    background: #ef1650;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    margin: 0 8px;
}
.coolform-4 input.name-black {
    background: #fff;
}
.coolform-4 input.phone-black {
    background: #fff;
}
.coolform-4 input {
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 10px auto!important;
    border: 1px solid #000;
    border-radius: 6px;
    text-indent: 65px;
    color: #252525;
    font-size: 20px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.coolform-4 .event_order {
    opacity: .88;
    position: relative;
    display: block;
    text-indent: 0;
    background: #013766;
    border-width: medium medium 5px;
    font-size: 22px;
    border-style: none none solid;
    border-color: currentcolor currentcolor #012341;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -o-border-image: none;
       border-image: none;
    height: 70px;
    line-height: 70px;
    margin-top: 15px!important;
    border-radius: 8px;
    font-weight: 700!important;
    text-transform: uppercase!important;
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
}
.coolform-4 p.px15 {
    font-size: 17px;
    text-align: center;
    margin: 7px 0 0;
}
.coolform-4 .certf {
    width: 45%;
    height: auto;
}
.coolform-4 .certf img {
    width: 100%;
}
@media screen and (max-width: 720px) {
    .coolform-4 .myContent {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .coolform-4 .form-wrap, .coolform-4 .price-block {
        width: 100%;
    }
    .coolform-4 input, .coolform-4 .event_order, .coolform-4 .certf {
        width: 70%;
    }
}
@media screen and (max-width: 400px) {

    .coolform-4 input, .coolform-4 .event_order {
        width: 100%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
}